<table class="table">
	<tr>
		<th>Time</th>
		<th>30. Nov</th>
		<th>01. Dec</th>
		<th>02. Dec</th>
	</tr>
	<tr>
		<th>08:30</th>
		<td>Registration</td>
		<td>Registration</td>
		<td>Registration</td>
	</tr>
	<tr>
		<th>09:00</th>
		<td>Opening</td>
		<td rowspan="2">
			<div class="paper-title">Keynote</div>
			<div class="paper-author">Véronique Cortier (LORIA)</div>
		</td>
		<td>
			<div class="session-header"><b><u>Session 7 - Secure Protocols</u></b></div>
			<br>
			<div class="paper-title">Automatic Implementations Synthesis of Secure Protocols and Attacks
from Abstract Models</div>
			<div class="paper-author">Camille Sivelle, Lorys Debbah, Maxime Puys, Pascal Lafourcade and Thibault Franco-Rondisson</div>
		</td>
	</tr>
	<tr>
		<th>09:30</th>
		<td rowspan="2">
			<div class="paper-title">Keynote</div>
			<div class="paper-author">Sigurđur Emil Pálsson (CCDCOE)</div>
		</td>
		<td>
			<div class="paper-title">How to Avoid Repetitions in Lattice-based Deniable Zero-Knowledge Proofs</div>
			<div class="paper-author">Xavier Arnal, Abraham Cano, Tamara Finogina and Javier Herranz</div>
		</td>
	</tr>
	<tr>
		<th>10:00</th>
		<td>Coffee Break</td>
		<td>Coffee Break</td>
	</tr>
	<tr>
		<th>10:30</th>
		<td>Coffee Break</td>
		<td>
			<div class="session-header"><b><u>Session 4 - Attacks & Attack Detection I</u></b></div>
			<br>
			<div class="paper-title">Honeysweeper: Towards Stealthy Honeytoken Fingerprinting Techniques</div>
			<div class="paper-author">Mohamed Msaad, Shreyas Srinivasa, Mikkel M. Andersen, David H. Audran, Charity U. Orji and Emmanouil Vasilomanolakis</div>
		</td>
		<td>
			<div class="session-header"><b><u>Session 8 -  Secure Systems</u></b></div>
			<br>
			<div class="paper-title">Simplex: Repurposing Intel Memory Protection Extensions for Secure Storage</div>
			<div class="paper-author">Matthew Cole and Aravind Prakash</div>
		</td>
	</tr>
	<tr>
		<th>11:00</th>
		<td>
			<div class="session-header"><b><u>Session 1 - Privacy 1</u></b></div>
			<br>
			<div class="paper-title">On the Effectiveness of Intersection Attacks in Anonymous Microblogging</div>
			<div class="paper-author">Sarah Abdelwahab Gaballah, Lamya Abdullah, Minh Tung Tran, Ephraim Zimmer and Max Mühlhäuser</div>
		</td>
		<td>
			<div class="paper-title">Towards Self-Monitoring Enclaves: Side-Channel Detection using
Performance Counters</div>
			<div class="paper-author">David Lantz, Felipe Boeira and Mikael Asplund</div>
		</td>
		<td>
			<div class="paper-title">Malware Analysis with Symbolic Execution and Graph Kernel</div>
			<div class="paper-author">Charles-Henry Bertrand Van Ouytsel and Axel Legay</div>
		</td>
	</tr>
	<tr>
		<th>11:30</th>
		<td>
			<div class="paper-title">Data Privacy in Ride-Sharing Services: From an Analysis of Common Practices to Improvement of User Awareness</div>
			<div class="paper-author">Carsten Hesselmann, Delphine Reinhardt, Jan Gertheiss and Jörg P. Müller</div>
		</td>
		<td>
			<div class="paper-title">DeCrypto: Finding Cryptocurrency Miners on ISP networks</div>
			<div class="paper-author">Richard Plný, Karel Hynek and Tomáš Čejka</div>
		</td>
		<td>
			Closing
		</td>
	</tr>
	<tr>
		<th>12:00</th>
		<td rowspan="3">
			Lunch
		</td>
		<td rowspan="3">
			Lunch
		</td>
		<td rowspan="3">
			Lunch
		</td>
	</tr>
		<th>12:30</th>
	<tr>
		<th>13:00</th>
	</tr>
	<tr>
		<th>13:30</th>
		<td>
			<div class="session-header"><b><u>Session 2 - Privacy 2</u></b></div>
			<br>
			<div class="paper-title">Location Privacy, 5G AKA, and Enhancements</div>
			<div class="paper-author">Mohamed Taoufiq Damir and Valtteri Niemi</div>
		</td>
		<td>
			<div class="session-header"><b><u>Session 5 -  Attacks & Attack Detection II</u></b></div>
			<br>
			<div class="paper-title">Detection of Voice Conversion Spoofing Attacks using Voiced Speech</div>
			<div class="paper-author">Arun Sankar M. S., Phillip L. De Leon and Utz Roedig</div>
		</td>
		<td rowspan="10">Optional excursion to the Blue Lagoon. The excursion is not included in the registration fee, see the tour description <a href="assets/NordSec2022_Blue Lagoon.pdf">here</a> for more detail.</td>
	</tr>
	<tr>
		<th>14:00</th>
		<td>
			<div class="paper-title">Local Differential Privacy for Private Construction of Classification Algorithms</div>
			<div class="paper-author">Mina Alishahi, Daan Gast and Sam Vermeiren</div>
		</td>
		<td>
			<div class="paper-title">A Wide Network Scanning for Discovery of UDP-based Reflectors in
the Nordic Countries</div>
			<div class="paper-author">Alexander Bjerre, Andreas Philip Westh, Emil Villefrance, A S M Farhan Al Haque, Jonas Bukrinski Andersen, Lucas K. Helgogaard and Marios Anagnostopoulos</div>
		</td>
	</tr>
	<tr>
		<th>14:30</th>
		<td>
			<div class="paper-title">IMSI Probing: Possibilities and Limitations</div>
			<div class="paper-author">Daniel Fraunholz, Dominik Brunke, Simon Beidenhauser, Sebastian
Berger, Hartmut Koenig and Daniel Reti</div>
		</td>
		<td>
			<div class="paper-title">GPU-FAN: Leaking Data From Air-Gapped Machines via Covert Noise from GPUFans</div>
			<div class="paper-author">Mordechai Guri</div>
		</td>
	</tr>
	<tr>
		<th>15:00</th>
		<td>Coffee Break</td>
		<td>Coffee Break</td>
	</tr>
	<tr>
		<th>15:30</th>
		<td>
			<div class="session-header"><b><u>Session 3 - Security Evaluation</u></b></div>
			<br>
			<div class="paper-title">Obfuscation-resilient Semantic Functionality Identification Through ProgramSimulation</div>
			<div class="paper-author">Sebastian Schrittwieser, Patrick Kochberger, Michael Pucher, Caroline Lawitschka, Philip König and Edgar R. Weippl.</div>
		</td>
		<td>
			<div class="session-header"><b><u>Session 6 -  Forensics</u></b></div>
			<br>
			<div class="paper-title">Maraudrone’s Map: An Interactive Web Application for Forensic
Analysis and Visualization of DJI Drone Log Data</div>
			<div class="paper-author">Tobias Latzo, Andreas Hellmich, Annika Knepper, Lukas Hardi, Tim Phillip Castello-Waldow, Felix Freiling and Andreas Attenberger</div>
		</td>
	</tr>
	<tr>
		<th>16:00</th>
		<td>
			<div class="paper-title">WearSec: Towards Automated Security Evaluation of Wireless
Wearable Devices</div>
			<div class="paper-author">Bernhards Blumbergs, Ēriks Dobelis, Peteris Paikens, Krišj ̄anis Nesenbergs, Kirils Solovjovs and Artis Rušinš</div>
		</td>
		<td>
			<div class="paper-title">VinciDecoder: Automatically Interpreting Provenance Graphs into
Textual Forensic Reports with Application to OpenStack</div>
			<div class="paper-author">Azadeh Tabiban, Heyang Zhao, Yosr Jarraya, Makan Pourzandi and Lingyu Wang</div>
		</td>
	</tr>
	<tr>
		<th>16:30</th>
		<td>Poster Teaser</td>
		<td>
			<div class="paper-title">Actionable Cyber Threat Intelligence for Automated Incident Response</div>
			<div class="paper-author">Cristoffer Leite, Jerry den Hartog, Daniel Ricardo dos Santos and
Elisa Costante</div>
		</td>
	</tr>
	<tr>
		<th>17:00</th>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>17:30</th>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>18:00</th>
		<td>Reception & Poster Session</td>
		<td>Dinner</td>
	</tr>
</table>